
.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.price svg {
  width: 34px;
  height: 34px;
}


.scroll {
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  margin-left: -22px;
}

