

/*.price {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 8px;*/
/*}*/

.scroll {
  max-height: 160px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  margin-left: -22px;
}
