.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.inner {
  position: relative;
}

.link {
  text-decoration: none;
}

.price {
  display: flex;
  gap: 8px;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  column-gap: 24px;
  row-gap: 32px;
}

.text {
  text-align: center;
  color: #f2f2f3;
}
