.header {
  background:  #1C1C21;
}

.logo {
  width: 100%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #8585AD;
}

.activeLink {
  color: #F2F2F3;
}

