.header {
  background: #1c1c21;
}

.logo {
  width: 100%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #8585ad;
}

.activeLink {
  color: #f2f2f3;
}
